.header {
    width: 100%;
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.title {
    color: white;
    margin: 0;
    display: inline;
    word-break: break-all;
}
.ico {
    margin: 0 10px;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}